<footer>

        <div id="foot">
            <div id="social">

                <h2 id="foot_heading">For more updates Follow Us on </h2>

                <a target="_blank" href="https://www.Facebook.com" ><img class="social_media"
                        src="../static/web-images/icon_facebook.svg" alt=""></a>
                <a target="_blank" href="https://in.linkedin.com/" ><img class="social_media"
                        src="../static/web-images/icon_linkedin.svg" alt=""></a>
                <a target="_blank" href="https://www.instagram.com/its_arsh_sharma/" ><img
                        class="social_media" src="../static/web-images/icon_instagram.svg" alt=""></a>
            </div>
            <div id="themes">
                <button class="theme-btn" onclick="Darktheme()"><img id="d-mode" class="mode"
                        src="../static/web-images/dark-mode.png" alt=""></button>

                <button class="theme-btn" onclick="Lighttheme()"><img class="mode" src="../static/web-images/light-mode.png"
                        alt=""></button>
            </div>

            <marquee behavior="" direction="">Adress : Civil lines , Dharamshala
                (H.P)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact
                No. :
                987456321&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;Email : apna-restaurant@food.com </marquee>

            <center id='copyright' style="color: white;">
                Copyright &copy; www.Apna-Restaurant.com. All rights reserved!
            </center>
        </div>

    </footer>
