<div id="loader">
        <div id="loading-ani">
            
        </div>
    </div>
<nav id="navbar">
        <ul>
            <li><a target="" href="/" class="nav-elements">Home</a></li>
            <li><a target="" href="#service" class="nav-elements">Services</a></li>
            <li><a target="" href="#Our-story" class="nav-elements">About us</a></li>
            <li><a target="" href="/tableBooking" class="nav-elements">Book Your Table</a></li>
            <li><a target="" href="#sp-offer" class="nav-elements">Offers</a></li>
        </ul>
        <div class="nav-btn">
            <input type="text" placeholder="search">
            <a id="btn_search" href="#"><img id="search_icon" src="../static/web-images/icon_search.png" alt=""></a>
        </div>

    </nav>
