<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Booking</title>
    <link rel="stylesheet" href="../static/restaurant-project-css/book-order-form.css">
    <link rel="stylesheet" href="../static/restaurant-project-css/trial.css">
    <link rel="stylesheet" media="screen and (max-width: 1240px)" href="../static/restaurant-project-css/responsive.css">
    
     <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>

<body onload="preloader()">
    {{>header}}
    <form action="/tablebooking" method="POST">
        <fieldset>

            <legend>Fill the below details</legend>
            <br>
            <label for="name">Name:</label>
            <div>
                <input type="text" name="name" id="name" placeholder="enter your fist name">
            </div>
            <br>
            <label for="contact">Contact No:</label>
            <div>
                <input type="number" name="contact" id="contact" placeholder="enter your contact">
            </div>
            <br>
            <label for="persons">No of Persons:</label>
            <div>
                <input type="text" name="persons" id="persons" placeholder="enter no. of persons">
            </div>
            <br>
            <label for="date">Date:</label>
            <div>
                <input type="date" name="date" id="Date" placeholder="enter the date">
            </div>
            <br>
            <div>
                <label for="timing">Timing:</label>
                <select name="timing" id="timing">
                    <option value="10:00 - 12:00 AM" selected>10:00 - 12:00 AM</option>
                    <option value="1:00 - 3:00 PM">1:00 - 3:00 PM</option>
                    <option value="5:00 - 7:00 PM">5:00 - 7:00 PM</option>
                    <option value="8:00 - 10:00 PM">8:00 - 10:00 PM</option>
                </select>
            </div>
            <br>
            <div>
                address: <br><textarea name="address" id="address" cols="30" rows="10" placeholder="enter your address"></textarea>
            </div>
            <br>
            <center>
                <div class="btn">
                    <input type="submit" onclick="alert('Do you want to submit this ?')" value="submit now">
                    
                    <input type="reset" onclick="alert('This action will clear the form . do you want to reset ?')"
                    value="reset form">
                </div>
            </center>

        </fieldset>
    </form>
    {{>footer}}
    <script src="../static/restaurant-project-js/trial.js"></script>
</body>

</html>